*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.face-name{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: #2c2f33;
    
}
.about{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2c2f33;
}
.about h1{
    height: 50px;
    width: 170px;
    border: solid #2c2f33 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about p{
    margin-top: 15px;
}
.info{
    margin-top: 50px;
    height: 50vh;
}
.kefas{
    width:200px;
    border-radius: 50%;
    margin-bottom: 30px;
}