{% extends 'base.html' %}
{% block content %}
    <!-- <div class="create-jadwal">
        <h1>Make a schedule:</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>
            </div>
        </div> -->
        <div class="jadwal-section">
            <form class="site-form" action="" method="post">
                {% csrf_token %}
                <p>Title: {{ form.judul_jadwal }} </p>
                <!-- {{ form.date_time }} -->
                <p>Place: {{ form.tempat }}</p>
                <p>Category: {{ form.kategori }}</p>
                <p>Date: {{ form.date }}</p>
                <p>Time: {{ form.time }}</p>
                <p>Description: {{ form.description }}</p>
                <input class="butt" type="submit" value="add schedule"/>
            </form>
            <div class="semua-jadwal">
                {% for jadwal in schedules %}
                <div class="jadwal">
                    <div class="info-jadwal">
                        <p>Title: {{ jadwal.judul_jadwal }}</p>
                        <p>Category: {{ jadwal.kategori }}</p>
                        <p>Place: {{ jadwal.tempat }}</p>
                        <p>Day: {{ jadwal.day }}</p>
                        <p>Date: {{ jadwal.date }}</p>
                        <p>Time: {{ jadwal.time }}</p>
                        <p>Description: {{ jadwal.description }}</p>
                    </div>
                    <a href="{% url 'jadwal:jadwal_delete' id=jadwal.id %}"><button>delete</button></a>
                </div>
    
                {% endfor %}
            </div>
            
        </div>
{% endblock %}
