
.jadwal-section{
    margin-left: 150px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
.site-form{
    width: 400px;
}
.site-form .butt{
    margin-left: 220px;
}
.semua-jadwal{
    height: 500px;
    overflow-y: scroll;
}
.jadwal{
    width: 500px;
    padding: 25px;
    border-radius: 15px;
    border: solid black 2px;
    margin: 15px;
}