{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '/images/kefas-logo-white.svg' %}">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'jadwal.css' %}" rel="stylesheet">


    <!-- buat form datetimefield jadwal -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    
    <title>{{ title }}</title>
</head>
<body>
    <!--BUKAN BOOTSTRAP (maybe for later) -->
    <!-- <nav id="nav">
        <a href="#landing"><img id="logo" src="{% static '/images/kefas-logo-red.svg' %}"></a>
        <div class="navi">
            <a href="#about"><p class="navtext">About me</p></a>
            <a href="#experiences"><p class="navtext">Experiences</p></a>
            <a href="#tools"><p class="navtext">Tools</p></a>
            <a href="#contact"><p class="navtext">Contact</p></a>
            <a href="#gallery"><p class="navtext">Gallery</p></a>
        </div>
            
    </nav> -->


    <nav id="nav" class="navbar navbar-expand-md fixed-top p-0 pr-3">
        <a class="navbar-brand" href="{% url 'webprofile:profile' %}#landing"><img class="m-0 ml-3" id="logo" src="{% static '/images/kefas-logo-red.svg' %}"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <img class="navbar-toggler-icon" src="{% static '/images/burger.svg' %}">
        </button>
        <div class="collapse navbar-collapse" id="collapse_target">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item ml-auto">
                <a class="nav-link navtext" href= "{% url 'webprofile:profile' %}#about">About me </a>
              </li>
              <li class="nav-item ml-auto">
                <a class="nav-link navtext" href="{% url 'webprofile:profile' %}#tools">Tools</a>
              </li>
              <li class="nav-item ml-auto">
                <a class="nav-link navtext" href="{% url 'webprofile:profile' %}#experiences">Experiences</a>
              </li>
              <li class="nav-item ml-auto">
                <a class="nav-link navtext" href="{% url 'webprofile:profile' %}#contact">Contact</a>
              </li>
              <li class="nav-item ml-auto">
                <a class="nav-link navtext" href="{% url 'webprofile:profile' %}#gallery">Gallery</a>
              </li>
              <li class="nav-item ml-auto">
                  <a class="nav-link navtext" href="{% url 'webprofile:bonus' %}">Bonus Page</a>
                </li>
            </ul>
        </div>
        
    
      </nav>

      {% block content %}
      {% endblock %}
</body>
<script src="{% static '/scripts/navbar.js' %}"></script>
</html>