{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="bonus-body">
    <!-- <div class="top"><a href="{% url 'webprofile:profile' %}"><div class="back"><h1>Get back</h1></div></a></div> -->
    <div class="warning">
        <h1>WARNING</h1>
        <h5>Scroll only if you understand Bahasa Indonesia (◡ w ◡)</h5>
    </div>
    <div class="transition transition-bonus"></div>
    <div class="section bottom">
            <h1>F.A.Q</h1>
            <h2>Kefas, Kefas apa yang bikin adem?</h2>
                <img src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/medium//93/MTA-1643457/cosmos_cosmos-16sdb-stand-fan--16-inch-_full02.jpg" style="height:60%; width:60%;">
                <p><i>Kefas angin</i></p>
            
            <h2>Kefas, Kefas apa yang lembut?</h2> 
                <img src= "https://img.okeinfo.net/content/2015/04/13/194/1133181/intip-manfaat-bola-kapas-bagi-kecantikan-yIPtVeEtHS.jpg" style="height: 60%; width: 60%;">
                <p><i>Kepas</i></p>
            
                <h2>Apa yang terjadi bila Kefas ditaruh di ruangan bersuhu tinggi?</h2> 
                <img src="https://asset.kompas.com/crop/2x3:998x667/750x500/data/photo/2017/07/05/1117909854.jpg" style="height: 60%; width: 60%;">
                <p><i>Kefanasan</i></p>
            
            <h2>Kemanakah Kefas pergi jika ingin berbelanja?</h2>
                <img src="https://img.beritasatu.com/cache/beritasatu/910x580-2/141465633732.jpg" style="height: 60%; width: 60%;">
                <p><i>Kefasar</i></p>
        
    </div>
</div>



{% endblock %}
