{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
    <div id="landing" class="landing">       
        <div class="landing-text">
                <h1 class="name">Kefas Satrio.</h1>
                <p class="short-desc">Graphic Designer. Software Engineer. Student.</p>
        </div>
    </div>

    <div class="transition1"></div>

    <div id="about" class="section about">
        <h1 class="title">About Me</h1>
        <div class="about-container">
            <img class="kefas" src="{% static '/images/kefas.PNG' %}" alt="kefas">
            <img class="two-circles" src="{% static '/containers/two-circles.svg' %}">
            <div class="info">
                <p>
                    <span>Hi, I'm Kefas.</span> <br>
                    An undergraduate student at Universitas Indonesia
                    currently studying computer science. I’m passionate 
                    about coding and I like to draw in my spare time.
                </p>
            </div>
            
        </div>
        <div class="hello">Hello there.</div>
       
    </div>

    <div class="transition transition2"></div>

    <div id="tools" class="section tools">
        <h1 class="title">Tools</h1>

        <div class="row">
            
        </div>
        <div class="toolset">    
            <div class="tool-list first-tools">   
                <p>HTML</p>
                <p>ReactJS</p>
                <p>Python</p>
                <p>Photoshop</p>
            </div>
            <div class="tool-list second-tools">  
                <p>CSS</p>
                <p>Django</p>
                <p>Java</p>
                <p>Figma</p>
            </div>
            <div class="tool-list third-tools">   
                <p>Git</p>
                <p>Django REST</p>
                <p>Javascript</p>
                <p>Trello</p>
            </div>
        </div>
        <p>Here are tools that I personally like to use from time to time</p>
    </div>

    <div class="transition transition3"></div>

    <div id="experiences" class="section experiences">
        <h1 class="title">Experiences</h1>
        <div class="experience-list">
                <div class="experience"><img src="{% static '/containers/dot.svg' %}" alt=""> <p>Staff of IT Development Department</p></div>
                <p class="experience-desc">Contributed in making websites for BEM PTI Fasilkom UI</p>

                <div class="experience"><img src="{% static '/containers/dot.svg' %}" alt=""> <p>Teaching Assistant of Programming Foundations 1 Course</p></div>
                <p class="experience-desc">Taught university students the basics of programming and assisted them on a weekly tutorial schedule</p>
                
                <div class="experience"><img src="{% static '/containers/dot.svg' %}" alt=""> <p>Mentor of Programming Foundations 0</p></div>
                <p class="experience-desc">Mentored a group of students who had no programming background
                        and taught them the basics of Python</p>
                
                <div class="experience"><img src="{% static '/containers/dot.svg' %}" alt=""> <p>Staff of Business-IT Case Competition</p></div>
                <p class="experience-desc">Contributed in making an IT-related business case for a large competition 
                        held by Compfest11 in Universitas Indonesia</p>
                
                <div class="experience"><img src="{% static '/containers/dot.svg' %}" alt=""> <p>Software Engineer for Lytebox</p></div>
                <p class="experience-desc">Contributed in the making of the Lytebox website as a frontend developer</p>
            </div>
        <div class="git">
            <a href="https://github.com/kefassatrio" target="_blank"><img src="{% static '/images/github.svg' %}"></a>
            <a href="https://gitlab.com/kefassatrio" target="_blank"><img src="{% static '/images/gitlab.svg' %}"></a>
        </div>
    </div>
    <div class="transition transition4"></div>
    <div id="contact" class="section contact">
        <h1 class="title2">Get in touch</h1>
        <div class="line"></div>
        <a href="https://www.linkedin.com/in/kefas-satrio-bangkit-solideantyo-58b43a17b/" target="_blank"><img onclick="linkedin.com" class="linkedin" src="{% static '/images/linkedin.svg' %}"></a>
        <div class="email">
            <p>kefassatrio@gmail.com</p>
        </div>
        <div class="line-sosmed">
            <img src="{% static '/images/line.svg' %}">
            <p>@cephas_knight</p>
        </div>
    </div>
    <div class="transition5">
        <p>Many more works and projects are coming up!</p>
        <p>But for now, just take a look at some of my artworks below</p>
    </div>
    <div id="gallery" class="section gallery">
        <div class="title2">Art Gallery</div>
        <div class="line"></div>
        <img class="art" src="{% static '/images/Artworks/woof.svg' %}">
        <img class="art" src="{% static '/images/Artworks/experiment1.svg' %}">
        <img class="art" src="{% static '/images/Artworks/experiment2.svg' %}">
        <img class="art" src="{% static '/images/Artworks/web-po.svg' %}">
        <img class="art" src="{% static '/images/Artworks/cheo.svg' %}">
        <img class="masmas" src="{% static '/images/Artworks/masmas.svg' %}">
        <h1 class="title2">Thank you for visiting</h1>
        <div class="line line-end"></div>
        <p class="title2 end">Have a nice day</p>
        <p class="more">still want to see more? click <a href="{% url 'webprofile:bonus' %}">here</a></p>
    </div>
    
{% endblock %}